.input-profile {
  margin-top: 40px;
}

.input-profile-img-btn {
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 96px;
  height: 96px;
}

.input-profile-img {
  overflow: hidden;
  border-radius: 12px;
}

.input-profile-field {
  margin-top: 16px;
}

.input-profile-field:first {
  margin-top: 24px;
}

.input-profile-field .label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
}

.input-profile-field input,
.input-profile-field textarea {
  margin-top: 4px;
  border: 1px solid #D0D0D0;
  border-radius: 16px;
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8A8A8A;
}

.input-profile-field textarea {
  height: 80px;
  max-height: 80px;
}

.input-profile-field input:focus,
.input-profile-field textarea:focus {
  outline: none;
}

.input-profile-btn {
  width: 100%;
  height: 48px;
  border-radius: 16px;
  background-color: #7126B5;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 24px;
}
.input-profile-input{
  display: block;
}
@media screen and (max-width: 800px) {
 .input-profile-img{
  display: block;
 } 
 .icon-btn{
  display: block;
 } 
}