.navLogo{
    width: 100px;
    height: 34px;
    background: #4B1979;
}
.navBg{
    background: #FFFFFF;
    /* Shadow/High */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.InputHarga{
    /* create form bootstrap */
    width: 100%;
    height: 100%;
    display: flex;
    border: block;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    background: #ffffff;
    border-radius: 16px;
}
.customForm{
    border-radius: 16px;
}
.customButton1{
    border-radius: 16px;
    border: 1px solid #7126B5;
}
.customButton2{
    background: #7126B5;
    border-radius: 16px;
    color: #ffffff;
}
.arrow-back{
    display: flex;
    color: black;
    width: 24px;
    height: 24px; 
}
.labelFoto{
    cursor: pointer;
}
input{
    display: none;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center
}
.image{
    position: relative;
    margin-left: 50px;
}
/* create button delete */
.delete{
    position: absolute;
    background: red;
    color: #ffffff;
    cursor: pointer;
    bottom: 0;
    right: 0;
}
.InfoProduk{
    display: none;
}
@media only screen and (max-width: 600px) {
    #Navbar{
        display: none;
    }
    .InfoProduk{
        display: block;
        text-align: center;
        flex-direction: row;
    }
    .arrow-back{
        color: black;
        width: 24px;
        height: 24px; 
    }
  }