/* create button bootstrap */
.btnCustom{
    border-radius: 12px;
  }
  /* .btnCustom2{
    border-radius: 12px;
    display: flex;
    width: 90px;
    height: 40px;
  }
  .btnCustom3{
    border-radius: 12px;
    display: flex;
    width: 120px;
    height: 40px;
  }
  .btnCustom4{
    border-radius: 12px;
    display: flex;
    width: 90px;
    height: 40px;
  }  
  .btnCustom5{
    border-radius: 12px;
    display: flex;
    width: 120px;
    height: 40px;
  }
  .btnCustom6{
    border-radius: 12px;
    display: flex;
    width: 125px;
    height: 40px;
  } */
  .btn{
    background-color: #E2D4F0;
    border-radius: 12px;
  }
  .btn-primary{
    background-color: #7126B5;
  }
  .btn-primary:hover{
    background-color: #7126B5;
  }
  .btn-primary:focus{
    background-color: #7126B5;
  }
  .btn-primary:active{
    background-color: #7126B5;
  }
  .btn-primary:visited{
    background-color: #7126B5;
  }
  .btn-primary:disabled{
    background-color: #7126B5;
  }
  .btn-primary:hover{
    background-color: #7126B5;
  }
  .btn-primary:focus{
    background-color: #7126B5;
  }
  .btn-primary:active{
    background-color: #7126B5;
  }
  .btn-primary:visited{
    background-color: #7126B5;
  }
  .btn-primary:disabled{
    background-color: #7126B5;
  }
  .btn-primary:hover{
    background-color: #7126B5;
  }
  .btn-primary:focus{
    background-color: #7126B5;
  }
  .btn-primary:active{
    background-color: #7126B5;
  }
  .btn-primary:visited{
    background-color: #7126B5;
  }
  .btn-primary:disabled{
    background-color: #7126B5;
  }
  .btn-primary:hover{
    background-color: #7126B5;
  }
  .btn-primary:focus{
    background-color: #7126B5;
  }
  .btn-primary:active{
    background-color: #7126B5;
  }