.wishlist-page {
  margin-top: 64px;
}

.wishlist-page .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: black;
  margin-bottom: 25px;
}

.wishlist-page .product-card,
.wishlist-page .product-card:hover {
  padding: 16px 0;
  border-bottom: 1px solid #E5E5E5;
}

.wishlist-page .product-card:last-child {
  border: none;
}

.wishlist-page .product-card .left {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
}

.wishlist-page .product-card .left img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.wishlist-page .product-card .flex-fill .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

.wishlist-page .product-card .flex-fill .kategori,
.wishlist-page .product-card .flex-fill .harga {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 4px 0;
}

.wishlist-page .product-card .flex-fill .harga {
  margin-bottom: 0;
}
